*{
    box-sizing: border-box;  
}
body{
    font-family: 'Ubuntu', sans-serif;
    padding: 1%;
    background: whitesmoke;
}
#dis{
    margin-right: 2%;
}
#dis:hover{
    background: #aa1111;
}
header{
    background: gray;
    color: whitesmoke;
    font-size: 150%;
    padding: 1%;
}
section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

h1{
    color: whitesmoke;
    text-align: center;
}

a{
    margin-top: 5%;
    margin-right: 2%;

}
a:hover{
    background: #aa1111;
    text-decoration-line: none;
}
img {
    width: 100%;
    
}


